<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div align="center">
    <h2>书籍增加页面</h2>
    <hr>
    <form th:action="@{/book/create}" method="get" id="form">
        书&emsp;名<input name="name"><br>
        作&emsp;者<input name="author"><br>
        价&emsp;格<input name="price"><br>
        数&emsp;量<input name="status"><br>
        阅读室<select  name="room">
        <option></option>
        <option>1-1</option>
        <option>1-2</option>
        <option>1-3</option>
        <option>1-4</option>
        <option>2-1</option>
        <option>2-2</option>
        <option>2-3</option>
        <option>2-4</option>
    </select><br>
        编&emsp;号<input name="num"><br>
        <input type="submit" value="增加书籍">
        <input type="reset" value="重置信息">
    </form>
    <div th:if="${res==true}">
        <span th:text="${mess}" style="color: green;font-size: 30px">XXXX</span>
    </div>
    <div th:if="${res==false}">
        <span th:text="${mess}" style="color: red;font-size: 30px">XXXX</span>
    </div>
</div>
</body>
</html>